# File: javascript.snippets
# Maintainer: Chris Fröschl <cfroeschl@protonmail.com>
# Last Modified: Thu 17 Dec 2020 09:06:27 AM CET
# License:
# Copyright (c) Chris Fröschl. Distributed under the same terms as Vim itself.
# See :help license
#
# Description:
# JavaScript snippets.

snippet cw "console.warn()"
console.warn($1)
endsnippet

snippet cl "console.log()"
console.log($1)
endsnippet
