# File: nroff.snippets
# Maintainer: Chris Fröschl <cfroeschl@protonmail.com>
# Last Modified: Sat 12 Dec 2020 03:19:03 PM CET
# License:
# Copyright (c) Chris Fröschl. Distributed under the same terms as Vim itself.
# See :help license
#
# Description:
# Nroff snippets.

snippet book "Book reference" b
%K ${1:Keywords}
%A ${2:Author}
%T ${3:Title}
%S ${4:Series}
%V ${5:Volume}
%D ${6:Date}
%I ${7:Issuer}
endsnippet
