# File: sh.snippets
# Maintainer: Chris Fröschl <cfroeschl@protonmail.com>
# Last Modified: Sat 19 Dec 2020 05:19:46 PM CET
# License:
# Copyright (c) Chris Fröschl. Distributed under the same terms as Vim itself.
# See :help license
#
# Description:
# Sh snippets.

snippet sh "shebang" b
#!/bin/sh
endsnippet
