# File: sh.snippets
# Maintainer: Chris Fröschl <cfroeschl@protonmail.com>
# Last Modified: Sat 12 Dec 2020 03:19:19 PM CET
# License:
# Copyright (c) Chris Fröschl. Distributed under the same terms as Vim itself.
# See :help license
#
# Description:
# Sh snippets.
