# File: typescript.snippets
# Maintainer: Chris Fröschl <cfroeschl@protonmail.com>
# Last Modified: Sat 12 Dec 2020 03:21:12 PM CET
# License:
# Copyright (c) Chris Fröschl. Distributed under the same terms as Vim itself.
# See :help license
#
# Description:
# Typescript snippets.

extends javascript

snippet cl "console.log() from typescript"
console.log($1)
endsnippet
